<div *ngFor="let sprint of list">
    <div class='list_container'>
        <div class='list_list' *ngFor="let list of sprint.lists">
            <div class='list_header'>{{list.title}} <div [pTooltip]='list.tasks?.length + " Tasks"' class='badge_number'>{{list.tasks?.length}}</div>
                <i (click)='funcToggleEdit(sprint.id, list)' class='clickable fa fa-pencil' style='margin-left: 10px;'></i>
                <i (click)='createTask(sprint.id, list.id)' class='clickable fa fa-plus' style='margin-left: 10px;'></i>
            </div>
            <div pDroppable="dd" (onDrop)="drop($event, sprint.id, list.id)" class='list_interior'>
                <div pDraggable="dd" (onDragStart)="dragStart($event,task, list.id)" (onDragEnd)="dragEnd($event)" (click)='viewTask(sprint.id, list.id, task)' *ngFor="let task of list.tasks" class='clickable list_item'>
                    <b>{{task.title}} <div [pTooltip]='getPriorityText(task.priority)' [ngClass]="getPriority(task.priority)"></div></b>
                    <div style='clear: both;'>
                        <p style='white-space: pre-wrap;'>
                            {{task.description | slice: 0: 100}}{{task.description.length > 100 ? "..." : ""}}
                        </p>
                    </div>
                    <div class='p-grid' style="clear: both;">
                        <div class='p-col-6'>
                            <div *ngIf="task && task.duedate">{{task.duedate}}</div>
                        </div>
                        <div class='p-col-6'>
                            <div *ngIf="task.first_name" class='clickable pull-right img-circle user_badge_small' style='margin-right: 5px;'>
                                {{task.first_name[0] + " " + task.last_name[0]}}
                            </div>
                            <div *ngIf="!task.first_name" class='badge badge_unassigned clickable pull-right' style='margin-right: 5px; display: block; width: 100%; padding: 5px; height: 30px; text-align: center; color: #fff;'>
                                Unassigned
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar *ngIf="edit_list" [(visible)]="toggleListEdit" position='right' styleClass="keywest_sidebar ui-sidebar-md">
    <div class="sidebar_wrapper">
        <div class='sidebar_header'>
            Editing {{edit_list.title}}
        </div>
        <div class='sidebar_container'>
            <div class='keywest_panel'>
                <div class="p-grid">
                    <div class='p-col-12'>
                        <label class='sidebar_label'>Name</label>
                        <input type='text' [(ngModel)]="edit_list.title" class='form-control'>
                    </div>
                </div>

                <div class="p-grid">
                    <div class='p-col-12'>
                        <label class='sidebar_label'>Tasks</label>
                    </div>
                </div>

                <p-table [value]="edit_list.tasks">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th style='width: 40px;'>&nbsp;</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-task>
                        <tr>
                            <td>{{task.title}}</td>
                            <td>
                                <app-are-you-sure message='Are you sure?' text='' icon='fa fa-times' [class]='"btn btn-danger pull-right"' (callbackYes)='funcDeleteTask(edit_list, task)'></app-are-you-sure>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class='btn_container'>
            <a (click)='updateList(edit_list)' class='btn btn_customizable pull-right'>Save</a>
        </div>
    </div>
</p-sidebar>

<p-sidebar *ngIf="task" [(visible)]="toggleTask" position='right' styleClass="keywest_sidebar ui-sidebar-xl">
    <div class="sidebar_wrapper">
        <div class='sidebar_header' *ngIf="!task.title_editing" (click)='task.title_editing = !task.title_editing'>
            {{task.title}}
        </div>
        <div class='sidebar_header' *ngIf="task.title_editing">
            <div class="p-grid">
                <div class='p-col-6'>
                    <input type='text' [(ngModel)]="task.title" (focusout)='task.title_editing = !task.title_editing' class='form-control'>
                </div>
            </div>
        </div>
        <div class='sidebar_container'>
            <div class='keywest_panel'>
                <div class='p-grid'>
                    <div class='p-col-4'>
                        Priority <div [pTooltip]='getPriorityText(task.priority)' [ngClass]="getPriority(task.priority)" style='margin-left: 10px; margin-top: 5px;'>
                        </div>
                    </div>

                    <div class='p-col-4'>
                        <div style='text-align: center;'>
                            <p-inplace [closable]='true'>
                                <span pInplaceDisplay>
                                    <b>Due Date</b>
                                </span>
                                <span pInplaceContent>
                                    <p-calendar [(ngModel)]="task.duedate" dateFormat="mm/dd/yy" icon='pi pi-calendar'></p-calendar>
                                </span>
                            </p-inplace>
                        </div>
                    </div>

                    <div class='p-col-4'>
                        <div class='pull-right'>
                            <p-inplace [closable]='true'>
                                <span pInplaceDisplay>
                                    <b>Assignee</b> {{task.name}}
                                </span>
                                <span pInplaceContent>
                                    <p-dropdown [autoDisplayFirst]='false' dataKey='id' optionLabel='name' (onChange)='funcUpdateAssignee($event)' [options]="users" [(ngModel)]="task.user_id"></p-dropdown>
                                </span>
                            </p-inplace>
                        </div>
                    </div>
                </div>
                <div class="p-grid">
                    <div class='p-col-6'>
                        <p-accordion>
                            <p-accordionTab header="Details">
                                <label class='sidebar_label'>Description</label>
                                <textarea rows='5' class='form-control' style='height: 200px;' [(ngModel)]="task.description"></textarea>
                            </p-accordionTab>
                        </p-accordion>
                        <app-testing></app-testing>
                    </div>

                    <div class='p-col-6'>
                        <app-chat [chats]='task.chat' [sprint_id]='sprint_id' [list_id]='list_id' [task]='task'></app-chat>
                    </div>
                </div>
            </div>
        </div>
        <div class='btn_container'>
            <a (click)='updateTask()' class='pull-right btn btn_customizable'>Save</a>
        </div>
    </div>
</p-sidebar>